################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Dream11WebApp/.vs/Dream11WebApp/v16/Server/sqlite3/db.lock
