<div class="appBgImage_ceacf">
    <div class="footerWrapper_8622b">
        <div class="desktopInfoWrapper_7ab46">
            <div class="desktopInfoTop_9bf27"><span class="desktopInfoTopLeft_3d48d">India's Biggest</span><span class="desktopInfoTopRight_0db77"> Sports Game</span></div>
            <div class="desktopInfoMiddle_ae625">6 Crore+ Users</div>
            <div class="desktopInfoBottom_9eb8a">Download the app</div>
            <div class="desktopDownloadLinkWrapper_4cfb2">
                <a target="_blank" href="https://itunes.apple.com/in/app/dream11-fantasy-sports/id1077286074" class="desktopDownloadLink_a71b9 desktopIosDownloadLink_4631b"></a>
                <a target="_blank" href="https://m.d11.io/Dream11-app" class="desktopDownloadLink_a71b9 desktopAndroidDownloadLink_dc1f2"></a>
            </div>
        </div>
        <div class="appBgFooter_d925a"></div>
    </div>
</div>