@page "/Contest"

<div>
    <div class="lazy-contest-home">
        <div class="contest-home-for-view js--contest-home contestHome_789e2">
            <div class="match-header">
                <div class="headerContainer_199c8 headerFixed_38df7">
                    <div class="row-1 headerRow_c14ad">
                        <div class="headerLeft_36c4e">
                            <div class="js--match-header__back-btn">
                                <button class="btn btn--icon">
                                    <div class="align-center"><i class="material-icons">arrow_back</i></div>
                                </button>
                            </div>
                            <div class="js--match-header__home-btn"><a class="btn btn--icon" href="/leagues?sid=0"><i class="material-icons">home</i></a></div>
                        </div>
                        <div class="headerCenter_4d6f0"><div class="headerTitle_fd62d">Contests</div></div>
                        <div class="headerRight_ba2d2">
                            <div class="js--match-header__wallet">
                                @*<button class="btn btn--icon"><div class="align-center"><i class="material-icons">account_balance_wallet</i></div></button>*@
                            </div>
                        </div>
                    </div>
                    <div class="info-bar js-match-header__info-bar infobar_0dc07">
                        <div class="infobarContent_628aa">
                            <div class="infobarContentRow_7ae93">
                                <div class="js--match-header-title infobarContentLeft_04a34">MI vs CSK</div>
                                <div class="infobarContentCenter_5f791">
                                    <div class="timer_1aa54">
                                        @*<i class="materialIcon_10a4f" style="height: 16px; width: 16px; font-size: 16px;">access_time</i>*@
                                        <div class="timeRemaining_96d65">
                                            <div class="timer_44feb">21h 49m 00s</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="js--guru-link infobarContentRight_ac9bd"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="account-dialog"></div>
            </div>

            <div></div>

            <div class="contestscrollRight">

                <div>
                    <div class="contestsHeader_16599">
                        <div class="playWithFriendsWrapper_3442c">
                            <div class="js--contest-code-btn">
                                <button class="new-button raisedWhiteButtonNew_08689">
                                    <div class="iconLabel_f964d iconLabelSmall_a2024">
                                        <span class="iconContent_3cbfd">Enter Contest Code</span><i class="materialIcon_10a4f" style="height: 14px; width: 14px; font-size: 14px;">input</i>
                                    </div>
                                </button>
                            </div>
                            <div class="js--private-contest-btn">
                                <a class="raisedWhiteButtonNew_08689" href="/cricket/create-private-league/english-one-day-cup/1033/14341">
                                    <div class="iconLabel_f964d iconLabelSmall_a2024">
                                        <span class="iconContent_3cbfd">Create a Contest</span>
                                        <i class="materialIcon_10a4f" style="height: 14px; width: 14px; font-size: 14px;">add_circle_outline</i>
                                    </div>
                                </a>
                            </div>
                        </div><div class="sortingContainer_5b732">
                            <div class="sortingHeader_7b795"><div class="sortLabel_c5373">Sort By:</div></div>
                            <div class="sortingBody_ecb4a">
                                <div class="sortButton_6d4e0"><a class="whiteBgButton_f180e" href="/cricket/contests/english-one-day-cup/1033/14341?sortBy=0">Entry Fee</a></div>
                                <div class="sortButton_6d4e0">
                                    <a class="whiteBgButton_f180e" href="/cricket/contests/english-one-day-cup/1033/14341?sortBy=1">Contest Size</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="segmentHeaderContainer_ea185 webkitSticky_3d076 segmentHeaderContainerTop_9bdb2">
                        <a class="row_404ce">
                            <div>
                                <div>
                                    <div class="headerTitle_ba6eb">Mega Contest</div>
                                    <div class="headerText_d7966">Get ready for mega winnings!</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <a class="js--contest-card contestCardWrapper_fbec5 containerShadow_c2514" href="/cricket/leaderboard/english-one-day-cup/1033/14341/1220033359">
                        <div class="contestSpecMoneyInfo_20124">
                            <div class="contestSpecRow_01429">
                                <div class="contestCardLabel_7ca40">Prize Pool</div>
                                <div class="contestCardLabel_7ca40">Entry</div>
                            </div>
                            <div class="contestSpecRow_01429">
                                <div class="js--contest-card__prize-pool prizePool_565d2">₹10 Lakhs</div>
                                <div>
                                    <div style="display: flex; align-items: center;">
                                        <div class="js--contest-card-join-btn">
                                            <button class="new-button smallGreenButton_4bae7"><span><span class="d11-icon">₹</span><span class="currency-amount">33</span></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="contestProgressBarContainer_0efc1">
                            <div class="contestProgressBar_eba45">
                                <div class="contestProgressInner_ead13" style="width: 99%;"></div>
                            </div>
                        </div>
                        <div class="spotsContainer_9c427">
                            <div class="contestSpecRow_01429">
                                <div class="spotLefts_8d583 contestFilling_14509">39,535 spots left</div>
                                <div class="totalSpots_b62ba">40,000 spots</div>
                            </div>
                        </div>
                        <div class="contestSpec_a3ebb">
                            <div class="iconLabelGroup_f55e1">
                                <div class="iconLabelWrapper_43690"><img src="https://assets.dream11.com/public/imgs/winners_icon.svg" style="height: 16px; width: 16px; margin-right: 4px;"><span>63%</span></div>
                            </div>
                            <div class="iconLabelGroup_f55e1" style="justify-content: flex-end;">
                                <div class="squareWithTwoRoundCorner_1291a">C</div>
                                <div style="padding-left: 12px;"><div class="squareWithTwoRoundCorner_1291a">M</div></div>
                            </div>
                        </div>
                    </a>
                    <div class="segmentFooterContainer_467dc"><div class="segmentFooterRightContainer_65267"></div></div>
                </div>

                <div>
                    <div class="segmentHeaderContainer_ea185 webkitSticky_3d076 segmentHeaderContainerTop_9bdb2">
                        <a class="row_404ce">
                            <div>
                                <div>
                                    <div class="headerTitle_ba6eb">Only For Beginners</div>
                                    <div class="headerText_d7966">Play Your First Contest Now</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <a class="js--contest-card contestCardWrapper_fbec5 containerShadow_c2514">
                        @*href="/cricket/leaderboard/english-one-day-cup/1033/14341/1220011546">*@
                        <div class="contestSpecMoneyInfo_20124">
                            <div class="contestSpecRow_01429">
                                <div class="contestCardLabel_7ca40">Prize Pool</div>
                                <div class="contestCardLabel_7ca40">Entry</div>
                            </div>
                            <div class="contestSpecRow_01429">
                                <div class="js--contest-card__prize-pool prizePool_565d2">₹750</div>
                                <div>
                                    <div style="display: flex; align-items: center;">
                                        <div class="js--contest-card-join-btn">
                                            <button class="new-button smallGreenButton_4bae7"><span><span class="d11-icon">₹</span><span class="currency-amount">13</span></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="contestProgressBarContainer_0efc1">
                            <div class="contestProgressBar_eba45">
                                <div class="contestProgressInner_ead13" style="width: 85%;"></div>
                            </div>
                        </div>
                        <div class="spotsContainer_9c427">
                            <div class="contestSpecRow_01429">
                                <div class="spotLefts_8d583 contestFilling_14509">56 spots left</div>
                                <div class="totalSpots_b62ba">66 spots</div>
                            </div>
                        </div>
                        <div class="contestSpec_a3ebb">
                            <div class="iconLabelGroup_f55e1">
                                <div class="iconLabelWrapper_43690"><img src="https://assets.dream11.com/public/imgs/winners_icon.svg" style="height: 16px; width: 16px; margin-right: 4px;"><span>61%</span></div>
                            </div>
                            <div class="iconLabelGroup_f55e1" style="justify-content: flex-end;">
                                <div style="padding-left: 12px;">
                                    <div class="squareWithTwoRoundCorner_1291a">M</div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a class="js--contest-card contestCardWrapper_fbec5 containerShadow_c2514">
                        <div class="contestSpecMoneyInfo_20124">
                            <div class="contestSpecRow_01429">
                                <div class="contestCardLabel_7ca40">Prize Pool</div>
                                <div class="contestCardLabel_7ca40">Entry</div>
                            </div>
                            <div class="contestSpecRow_01429">
                                <div class="js--contest-card__prize-pool prizePool_565d2">₹250</div>
                                <div>
                                    <div style="display: flex; align-items: center;">
                                        <div class="js--contest-card-join-btn">
                                            <button class="new-button smallGreenButton_4bae7"><span><span class="d11-icon">₹</span><span class="currency-amount">26</span></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="contestProgressBarContainer_0efc1">
                            <div class="contestProgressBar_eba45">
                                <div class="contestProgressInner_ead13" style="width: 91%;"></div>
                            </div>
                        </div>
                        <div class="spotsContainer_9c427">
                            <div class="contestSpecRow_01429">
                                <div class="spotLefts_8d583 contestFilling_14509">10 spots left</div>
                                <div class="totalSpots_b62ba">11 spots</div>
                            </div>
                        </div>
                        <div class="contestSpec_a3ebb">
                            <div class="iconLabelGroup_f55e1">
                                <div class="iconLabelWrapper_43690"><img src="https://assets.dream11.com/public/imgs/winners_icon.svg" style="height: 16px; width: 16px; margin-right: 4px;"><span>64%</span></div>
                            </div>
                            <div class="iconLabelGroup_f55e1" style="justify-content: flex-end;">
                                <div style="padding-left: 12px;">
                                    <div class="squareWithTwoRoundCorner_1291a">M</div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a class="js--contest-card contestCardWrapper_fbec5 containerShadow_c2514">
                        <div class="contestSpecMoneyInfo_20124">
                            <div class="contestSpecRow_01429">
                                <div class="contestCardLabel_7ca40">Prize Pool</div>
                                <div class="contestCardLabel_7ca40">Entry</div>
                            </div>
                            <div class="contestSpecRow_01429">
                                <div class="js--contest-card__prize-pool prizePool_565d2">₹90</div><div>
                                    <div style="display: flex; align-items: center;">
                                        <div class="js--contest-card-join-btn">
                                            <button class="new-button smallGreenButton_4bae7"><span><span class="d11-icon">₹</span><span class="currency-amount">51</span></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="contestProgressBarContainer_0efc1">
                            <div class="contestProgressBar_eba45"><div class="contestProgressInner_ead13" style="width: 100%;"></div></div>
                        </div>
                        <div class="spotsContainer_9c427">
                            <div class="contestSpecRow_01429">
                                <div class="spotLefts_8d583 contestFilling_14509">2 spots left</div><div class="totalSpots_b62ba">2 spots</div>
                            </div>
                        </div>
                        <div class="contestSpec_a3ebb">
                            <div class="iconLabelGroup_f55e1">
                                <div class="iconLabelWrapper_43690">
                                    <img src="https://assets.dream11.com/public/imgs/winners_icon.svg" style="height: 16px; width: 16px; margin-right: 4px;"><span>50%</span>
                                </div>
                            </div>
                            <div class="iconLabelGroup_f55e1" style="justify-content: flex-end;">
                                <div style="padding-left: 12px;"><div class="squareWithTwoRoundCorner_1291a">S</div></div>
                            </div>
                        </div>
                    </a>
                    <div class="segmentFooterContainer_467dc">
                        <div class="segmentFooterRightContainer_65267"></div>
                    </div>
                </div>

                @*Practice Contest join*@
                <div>
                    <div class="segmentHeaderContainer_ea185 webkitSticky_3d076 segmentHeaderContainerTop_9bdb2">
                        <a class="row_404ce">
                            <div>
                                <div>
                                    <div class="headerTitle_ba6eb">Practice Contests</div>
                                    <div class="headerText_d7966">Hone Your Skills</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <a class="js--contest-card contestCardWrapper_fbec5 containerShadow_c2514">
                        <div class="contestSpecMoneyInfo_20124">
                            <div class="contestSpecRow_01429">
                                <div class="js--contest-card__prize-pool prizePool_565d2">Practice Contest</div><div>
                                    <div style="display: flex; align-items: center;">
                                        <div class="js--contest-card-join-btn">
                                            <button class="new-button smallGreenButton_4bae7" onclick="@JoinPracticeContest">JOIN</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="contestProgressBarContainer_0efc1">
                            <div class="contestProgressBar_eba45">
                                <div class="contestProgressInner_ead13" style="width: 70%;"></div>
                            </div>
                        </div>
                        <div class="spotsContainer_9c427">
                            <div class="contestSpecRow_01429">
                                <div class="spotLefts_8d583 contestFilling_14509">698 spots left</div>
                                <div class="totalSpots_b62ba">1,000 spots</div>
                            </div>
                        </div>
                        <div class="contestSpec_a3ebb">
                            <div class="iconLabelGroup_f55e1"></div>
                            <div class="iconLabelGroup_f55e1" style="justify-content: flex-end;">
                                <div class="squareWithTwoRoundCorner_1291a">C</div>
                                <div style="padding-left: 12px;"><div class="squareWithTwoRoundCorner_1291a">S</div></div>
                            </div>
                        </div>
                    </a>
                    @*<a class="js--contest-card contestCardWrapper_fbec5 containerShadow_c2514" href="/cricket/leaderboard/england-vs-pakistan-odi/1043/14645/641952761">
                            <div class="contestSpecMoneyInfo_20124">
                                <div class="contestSpecRow_01429">
                                    <div class="js--contest-card__prize-pool prizePool_565d2">Practice Contest</div><div>
                                        <div style="display: flex; align-items: center;">
                                            <div class="js--contest-card-join-btn">
                                                <button class="new-button smallGreenButton_4bae7">JOIN</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="contestProgressBarContainer_0efc1">
                                <div class="contestProgressBar_eba45">
                                    <div class="contestProgressInner_ead13" style="width: 8%;"></div>
                                </div>
                            </div>
                            <div class="spotsContainer_9c427">
                                <div class="contestSpecRow_01429">
                                    <div class="spotLefts_8d583 contestFilling_14509">8 spots left</div>
                                    <div class="totalSpots_b62ba">100 spots</div>
                                </div>
                            </div><div class="contestSpec_a3ebb">
                                <div class="iconLabelGroup_f55e1"></div>
                                <div class="iconLabelGroup_f55e1" style="justify-content: flex-end;">
                                    <div class="squareWithTwoRoundCorner_1291a">C</div><div style="padding-left: 12px;">
                                        <div class="squareWithTwoRoundCorner_1291a">S</div>
                                    </div>
                                </div>
                            </div>
                        </a>*@
                    <div class="segmentFooterContainer_467dc">
                        <div class="segmentFooterRightContainer_65267">
                            <span class="js--more-link">
                                <a class="basicAnchorTextWithIcon_63f36" href="/cricket/contests/england-vs-pakistan-odi/1043/14645?sectionIds[]=3">
                                    <div class="iconLabel_f964d iconLabelMedium_48a55">
                                        <span class="iconContent_3cbfd">View 3 more</span>
                                        <i class="materialIcon_10a4f" style="height: 16px; width: 16px; font-size: 16px;">chevron_right</i>
                                    </div>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div>
    <FooterButtons></FooterButtons>
</div>

@*<PracticeContest userContests="@usercontest" />*@

<AdImage></AdImage>

@inject IUriHelper uriHelper
@inject AppState appState
@functions{

    UserContest usercontest { get; set; }

    private void JoinPracticeContest()
    {
        appState._usercontest.Clear();
        appState.AddContest(new UserContest()
        {
            contestId = 1,
            userTeamId = 1
        });

        uriHelper.NavigateTo("/PracticeContest");
    }

    private void JoinedContest()
    {
        Console.WriteLine("Join Contest Clicked");

        StateHasChanged();
    }
}