@page "/JoinedContests"

<div class="lazy-container-joined-contest">
    <div class="lazy-joined-contest">
        <div class="joined-contest joinedContest_e8f66">
            <div class="match-header">
                <div class="headerContainer_199c8 headerFixed_38df7 headerShadow_22469">
                    <div class="row-1 headerRow_c14ad">
                        <div class="headerLeft_36c4e">
                            <div class="js--match-header__back-btn">
                                <button class="btn btn--icon">
                                    <div class="align-center">
                                        <i class="material-icons">arrow_back</i>
                                    </div>
                                </button>
                            </div>
                        </div>
                        <div class="headerCenter_4d6f0">
                            <div class="headerTitle_fd62d">JOINED CONTESTS</div>
                        </div>
                        <div class="headerRight_ba2d2"></div>
                    </div>
                    <div class="info-bar js-match-header__info-bar infobar_0dc07">
                        <div class="infobarContent_628aa">
                            <div class="infobarContentRow_7ae93">
                                <div class="js--match-header-title infobarContentLeft_04a34">AT vs TK</div>
                                <div class="infobarContentCenter_5f791">
                                    <div class="timer_1aa54">
                                        <i class="materialIcon_10a4f" style="height: 16px; width: 16px; font-size: 16px;">access_time</i>
                                        <div class="timeRemaining_96d65">
                                            <div class="timer_44feb">00h 22m 54s</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="js--guru-link infobarContentRight_ac9bd"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="account-dialog"></div>
            </div>
            <div>
                <div>
                    <div></div>
                    <div>

                        <a class="js--contest-card contestCardWrapper_fbec5 containerShadow_c25144" href="/cricket/leaderboard/t20-mumbai/1050/14574/315829765">
                            <div class="contestSpecMoneyInfo_20124">
                                <div class="contestSpecRow_01429">
                                    <div class="js--contest-card__prize-pool prizePool_565d2">Practice Contest</div><div></div>
                                </div>
                            </div>
                            <div class="contestProgressBarContainer_0efc1">
                                <div class="contestProgressBar_eba45">
                                    <div class="contestProgressInner_ead13" style="width: 0%;"></div>
                                </div>
                            </div>
                            <div class="spotsContainer_9c427">
                                <div class="contestSpecRow_01429">
                                    <div class="spotLefts_8d583 contestFull_b7027">Contest Full!</div>
                                    <div class="totalSpots_b62ba">1,000 spots</div>
                                </div>
                            </div>
                            <div class="contestSpec_a3ebb">
                                <div class="iconLabelGroup_f55e1"></div>
                                <div class="iconLabelGroup_f55e1" style="justify-content: flex-end;">
                                    <div class="squareWithTwoRoundCorner_1291a">C</div>
                                    <div style="padding-left: 12px;">
                                        <div class="squareWithTwoRoundCorner_1291a">S</div>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
                    <div class="contest-joiner"></div>
                </div>
            </div>
            <div></div>
        </div>
    </div>
</div>

<AdImage></AdImage>