@inherits LayoutComponentBase
@*<div class="sidebar">
        <NavMenu />
    </div>*@

<div class="main">
    <div class="appLeft_ceacf">
        <ToastBase></ToastBase>
        @*<div class="col-sm-4">*@
        @Body
        @*</div>*@
    </div>
    @*<div class="appBgImage_ceacf">
        </div>*@
</div>