<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="ServiceFabricEntities7" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ULTP_597;initial catalog=ServiceFabric;user id=sa;password=synerzip;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="Dream11ConnectionString" connectionString="Data Source=IDTP376;Initial Catalog=Dream11;user id=sa;password=synerzip;multipleactiveresultsets=True;application name=Dream11" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>